tx2_power_measurement
.*
*.o
*.txt
*.bin
*.png
*.caffelog
*.csv
*.prototxt

#
# Ignore my TODO list
#
TODO

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!caffe_prototxt/*

# cscope files
cscope.*
ncscope.*
