#
# Ignore build result
#
tx2_power_measurement

#
# Ignore dot files
#
.*

#
# Typically ignored files
#
*.o
*.txt
*.bin
*.png
*.caffelog
*.csv
*.prototxt

#
# Track all files in the directory Documentation/
#
!Documentation/**

#
# Ignore my TODO list
#
TODO

#
# Track .gitignore file although it is dot-file
#
!.gitignore

#
# Track all files in the directory caffe_prototxt
#
!caffe_prototxt/**

#
# Ignore cscope files
#
cscope.*
ncscope.*
